doctype html
html.app(lang='en')

  include base/head

  body

    include base/header

    section.aw-container-wrap
      block main

      block content

      block form

    //include ../includes/footer
    //
    include base/foot
