extends default

block content

    <div class="container">
    <div class="row">
    <div class="aw-content-wrap clearfix">
    <div class="col-sm-12 col-md-9 aw-main-content">
    <!-- 新消息通知 -->
    <div class="aw-mod aw-notification-box hide" id="index_notification">
    <div class="mod-head common-head">
    <h2>
    <span class="pull-right"><a href="http://wenda.golaravel.com/setting/privacy/#notifications" class="text-color-999"><i class="icon icon-setting"></i> 通知设置</a></span>
    <i class="icon icon-bell"></i>新通知<em class="badge badge-important" name="notification_unread_num">0</em>
    </h2>
    </div>
    <div class="mod-body">
    <ul id="notification_list"></ul>
    </div>
    <div class="mod-footer clearfix">
    <a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);" class="pull-left btn btn-mini btn-gray">我知道了</a>
    <a href="http://wenda.golaravel.com/notifications/" class="pull-right btn btn-mini btn-success">查看所有</a>
    </div>
    </div>
    <!-- end 新消息通知 -->
    <!-- tab切换 -->
    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
    <li><a href="http://wenda.golaravel.com/sort_type-unresponsive">等待回复</a></li>
    <li class="active"><a href="http://wenda.golaravel.com/sort_type-hot__day-7" id="sort_control_hot">热门</a></li>
    <li><a href="http://wenda.golaravel.com/is_recommend-1">推荐</a></li>
    <li><a href="">最新</a></li>

    <h2 class="hidden-xs"><i class="icon icon-list"></i> 发现</h2>
    </ul>
    <!-- end tab切换 -->

    <div class="aw-mod aw-explore-list">
    <div class="mod-body">
    <div class="aw-common-list">
    <div class="aw-item active" data-topic-id="">
    <a class="aw-user-name hidden-xs" data-id="4796" href="http://wenda.golaravel.com/people/Fiona" rel="nofollow">
    <img src="http://wenda.golaravel.com/static/common/avatar-max-img.png" alt="">
    </a>
    <div class="aw-question-content">
    <h4>

    </h4>
    <a href="http://wenda.golaravel.com/question/2226#!answer_form" class="pull-right text-color-999">\回复\</a>
    <p>
    <a href="http://wenda.golaravel.com/people/Fiona" class="aw-user-name">
    Fiona
    </a>
    <span class="text-color-999"> 发起了问题 • 1 人关注 • 0 个回复 • 20 次浏览 • 5 天前
    </span>
    <span class="text-color-999 related-topic hide"> • 来自相关话题
    </span>
    </p>
    </div>
    </div>
    </div>

    </div>
    <div class="mod-footer">
    <div class="page-control"><ul class="pagination pull-right"><li class="active"><a href="javascript:;">1</a></li><li><a href="http://wenda.golaravel.com/sort_type-hot__day-7__is_recommend-0__page-2">2</a></li><li><a href="http://wenda.golaravel.com/sort_type-hot__day-7__is_recommend-0__page-2">&gt;</a></li></ul></div>						</div>
    </div>
    </div>

    <!-- 侧边栏 -->
    <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
    <div class="aw-mod">
    <div class="mod-head">
    <h3>专题</h3>
    </div>
    <div class="mod-body">
    <ul>
    <li><a href="http://wenda.golaravel.com/feature/1">Composer中国镜像</a></li>
    </ul>
    </div>
    </div>
    <div class="aw-mod aw-text-align-justify">
    <div class="mod-head">
    <a href="http://wenda.golaravel.com/topic/channel-hot" class="pull-right">更多 &gt;</a>
    <h3>热门话题</h3>
    </div>
    <div class="mod-body">
    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/topic/laravel5.2"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
    </dt>
    <dd class="pull-left">
    <p class="clearfix">
    <span class="topic-tag">
    <a href="http://wenda.golaravel.com/topic/laravel5.2" class="text" data-id="1091">laravel5.2</a>
    </span>
    </p>
    <p><b>15</b> 个问题, <b>1</b> 人关注</p>
    </dd>
    </dl>
    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/topic/队列"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
    </dt>
    <dd class="pull-left">
    <p class="clearfix">
    <span class="topic-tag">
    <a href="http://wenda.golaravel.com/topic/队列" class="text" data-id="273">队列</a>
    </span>
    </p>
    <p><b>10</b> 个问题, <b>1</b> 人关注</p>
    </dd>
    </dl>
    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/topic/Homestead"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
    </dt>
    <dd class="pull-left">
    <p class="clearfix">
    <span class="topic-tag">
    <a href="http://wenda.golaravel.com/topic/Homestead" class="text" data-id="66">Homestead</a>
    </span>
    </p>
    <p><b>20</b> 个问题, <b>3</b> 人关注</p>
    </dd>
    </dl>
    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/topic/数据库关联"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
    </dt>
    <dd class="pull-left">
    <p class="clearfix">
    <span class="topic-tag">
    <a href="http://wenda.golaravel.com/topic/数据库关联" class="text" data-id="360">数据库关联</a>
    </span>
    </p>
    <p><b>2</b> 个问题, <b>1</b> 人关注</p>
    </dd>
    </dl>
    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/topic/并发"><img alt="" src="http://wenda.golaravel.com/static/common/topic-mid-img.png"></a>
    </dt>
    <dd class="pull-left">
    <p class="clearfix">
    <span class="topic-tag">
    <a href="http://wenda.golaravel.com/topic/并发" class="text" data-id="1132">并发</a>
    </span>
    </p>
    <p><b>1</b> 个问题, <b>1</b> 人关注</p>
    </dd>
    </dl>
    </div>
    </div>
    <div class="aw-mod aw-text-align-justify">
    <div class="mod-head">
    <a href="http://wenda.golaravel.com/people/" class="pull-right">更多 &gt;</a>
    <h3>热门用户</h3>
    </div>
    <div class="mod-body">

    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/people/%E8%B5%B7%E5%9B%A0%E5%B0%8F%E5%BC%BA"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/03/05_avatar_mid.jpg"></a>
    </dt>
    <dd class="pull-left">
    <a href="http://wenda.golaravel.com/people/%E8%B5%B7%E5%9B%A0%E5%B0%8F%E5%BC%BA" data-id="305" class="aw-user-name">起因小强						</a>
    <p class="signature"></p>
    <p><b>4</b> 个问题, <b>1</b> 次赞同</p>
    </dd>
    </dl>

    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/people/%E8%B5%B5%E7%8B%97%E8%83%9C"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/08/86_avatar_mid.jpg"></a>
    </dt>
    <dd class="pull-left">
    <a href="http://wenda.golaravel.com/people/%E8%B5%B5%E7%8B%97%E8%83%9C" data-id="886" class="aw-user-name">赵狗胜						</a>
    <p class="signature"></p>
    <p><b>16</b> 个问题, <b>2</b> 次赞同</p>
    </dd>
    </dl>

    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/people/bantes"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/01/76_avatar_mid.jpg"></a>
    </dt>
    <dd class="pull-left">
    <a href="http://wenda.golaravel.com/people/bantes" data-id="176" class="aw-user-name">萧晔离<i class="icon-v" title="个人认证"></i>						</a>
    <p class="signature"></p>
    <p><b>20</b> 个问题, <b>14</b> 次赞同</p>
    </dd>
    </dl>

    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/people/%E9%A3%8E"><img alt="" src="http://wenda.golaravel.com/uploads/avatar/000/00/34/28_avatar_mid.jpg"></a>
    </dt>
    <dd class="pull-left">
    <a href="http://wenda.golaravel.com/people/%E9%A3%8E" data-id="3428" class="aw-user-name">风						</a>
    <p class="signature"></p>
    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
    </dd>
    </dl>

    <dl>
    <dt class="pull-left aw-border-radius-5">
    <a href="http://wenda.golaravel.com/people/Hubery"><img alt="" src="http://wenda.golaravel.com/static/common/avatar-mid-img.png"></a>
    </dt>
    <dd class="pull-left">
    <a href="http://wenda.golaravel.com/people/Hubery" data-id="3732" class="aw-user-name">Hubery						</a>
    <p class="signature"></p>
    <p><b>0</b> 个问题, <b>0</b> 次赞同</p>
    </dd>
    </dl>
    </div>
    </div>				</div>
    <!-- end 侧边栏 -->
    </div>
    </div>
    </div>
